absl-py
astor
astunparse
cached-property
cachetools
certifi
charset-normalizer
clang
cycler
dataclasses
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
importlib-resources
joblib
keras
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
mock
motmetrics @ git+https://github.com/psimoncam/motmetrics_adaptation.git
numpy
oauthlib
opencv-contrib-python
opt-einsum
pandas
Pillow
#pkg_resources
protobuf
pyasn1
pyasn1-modules
pyparsing
python-dateutil
pytz
PyYAML
requests
requests-oauthlib
rsa
scikit-learn
scipy
seaborn
six
sklearn
#tensorboard
#tensorboard-data-server
#tensorboard-plugin-wit
#tensorflow-estimator
#tensorflow-gpu
termcolor
threadpoolctl
torch
torchvision
tqdm
typing-extensions
urllib3
Werkzeug
wrapt
xmltodict
zipp
